/* Main CSS */

html {
   font-size: 62.5%; /*1rem=10px; 10px/16px=62.5%*/
   background-color: lightgray;
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Lucida Sans', sans-serif;
   min-height: 100vh;
   
}

.quiz {
   border: 2rem solid white;
   background-color: pink;
   margin: 5rem;
   height: 85vh;
   width: auto;

   text-align: center;
   
}

.quiz-title {
   font-size: 5rem;
   padding: 8rem;
   color: purple;
}

.quiz-title::after {
   font-size: 3rem;
   padding: 0;
   color: purple;
}
.title {
   padding: 3rem;
   font-size: 3rem;
}

.subtitle {
   padding-bottom: 2rem;
   font-size: 2rem;
}

.btn{
   font-family: "Comic sans";
   background-color: #ae2d59;
   color: white;
   border-radius: 2rem;
   border: 2px solid #cb376a;
   margin-top: 8rem;
   padding: 1rem 3rem;
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;

  
}
.btn:hover {
   background-color: #cb376a;
   border: 1px solid #db7598;
}

.wrapper {
   background-color: transparent;
   list-style: none;
   /*padding-top: 2rem;*/
   border:3px solid red;
   border-radius: 3px;


   overflow: hidden;
   margin: 0 5rem;
   height: 40rem;

   flex: 0 1;
}


.form-row{
   color: black;

   display: flex;
   flex-direction: row;
   justify-content: flex-start;

   flex: 0 1;
}


h2 {
   order: -1;
   color: purple;
   font-size: 3rem;
   text-align: center;
   margin-top: 3rem;
   margin-bottom: 3rem;

   flex: 0 1;
}

li {
   margin-top: 1rem;
   margin-bottom: 1rem;
   font-size: 2rem;
   font-weight: 300;
   line-height: 2.5rem;

   flex: 0 1;
}

input[type="radio"] {
   margin-right: 2rem;
   margin-left: 5rem;
   width: 2rem;
   height: 2rem;


 }

 .btn-submit {
   margin-top: 3rem;
}

img {
   border: 1px solid #ddd;
   border-radius: 3px;
   padding: 5px;
   height: 50rem;
   width: 50rem;
   display: inline-block;

   flex: 0 1;
}

.btn-next {
   margin: 2rem auto;
   display: block;
   display: flex;
   justify-content: flex-end;
}

.preload-image {
   text-align: center;
   color: yellow;
   font-size: 2.5rem;
   font-weight: 300;

   flex: 0 1;
}

/*
header {
   text-align: left;
   font-size: 4rem;
   background-color: green;
   color: red;
   z-index: 30;
}*/

h6{
   text-align: left;
   position: relative;
   font-size: 4rem;
   color: blue;
   z-index: 30;
}

.result-title {
   margin-top: -12rem;
   text-align: center;
   text-transform: uppercase;
   font-size: 6rem;
   font-weight: 400;
   color: Blue;
}


.result {
   text-align: center;
   font-size: 4rem;
   color: green;
}

@media (min-width: 1281px) {
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

   .quiz {
      margin: 3rem;
       font-size: small;
       background-color: orange;
   }
   .quiz-form {
      background-color: antiquewhite;
   }
   .quiz-title {
      color: darkgoldenrod;
      padding: 5rem;
      font-size: 1rem;
   }

   .quiz-subtitle {
      font-size: 1rem;
      color: white;
      padding-bottom: 1rem;
   }

   .wrapper {
      background-color: blue;
      list-style: none;
      /*padding-top: 2rem;*/
      border:none;
      border-radius: 3px;
   
      margin: 0 1rem;
      height: 20rem;
      padding: 0;

      flex: 0 1;
   }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (min-width: 320px) and (max-width: 480px) {
   .quiz {
      margin: 2rem;
       font-size: small;
       background-color: black;
   }
   .quiz-form {
      background-color: antiquewhite;
   }
   .quiz-title {
      color: red;
      padding: 5rem;
      font-size: 1rem;
   }

   .quiz-subtitle {
      font-size: 1rem;
      color: white;
      padding-bottom: 1rem;
   }

   .wrapper {
      background-color: blue;
      list-style: none;
      /*padding-top: 2rem;*/
      border:none;
      border-radius: 3px;
   
      margin: 0 1rem;
      height: 20rem;
      padding: 0;

      flex: 0 1;
   }
  
   .title {
      padding-top: 2rem;
      padding-bottom: 0;
      font-size: 1rem;
      color: pink;
   }
   .subtitle {
      padding-top: 0;
   }
   .btn {
      padding: .5rem 1rem;
      font-size: 1rem;
      margin-top: 4rem;
      font-weight: 200;
   }

   h2 {
      padding: 0;
      margin-top: 0;
      margin-bottom: 2rem;
      font-size: 1rem;
   }
   input[type="radio"] {
      margin-right: .2rem;
      margin-left: 0;
      color: white;
      width: 1rem;
      height: 1rem;
   
    }
   li {
      margin-top: .5rem;
      margin-bottom: .5rem;
      font-size: .3rem;
      font-weight: 200;
      line-height: 1rem;
   }

   .btn-submit {
      margin-top: 1rem;
   }

   img{
      height: 15rem;
      width: 13rem;
   }

   .preload-image {
      font-size: 1rem;
      padding: 2rem;
      margin-bottom: .2rem;
   }

   .btn-next{
      margin: 1rem auto;
      display: block;
      display: flex;
      justify-content: flex-end;
   }
   
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (max-width:320px)and(min-width:0px) {
    .quiz {
       width: 320px;
        font-size: 1rem;
        background-color: red;
    }
    .quiz-form {

    }
    .quiz-title {
        background-color: #dddddd;
    }
    .quiz-subtitle {
        font-size: 3rem !important;
    }
    .title {

    }
    .subtitle {

    }
    .btn {
        padding: 2rem 3rem;
        font-size: 3rem;
    }
    ul {

    }
    li {

    }
}